* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.wrapper {
  height: 100%;
  position: relative;
  margin: 0 auto;
  width: 960px;
}
.model {
  margin: 35px 0;
}

.demo {
  display: flex;
  flex-flow: row wrap;
}

.marzipano, .pannelum {
  height: 400px;
  width: 50%;
}

#pano, #pano2 {
  position: relative;
  width: 400px;
  height: 400px;
}
